{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "no-process-env": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
