<footer>
  <p>
    Coded with <span role="img" aria-label="love" title="love">❤️</span>by <a href="https://twitter.com/aarongarciah" target="_blank" rel="noopener">@aarongarciah</a>. Take a look at the
    <a href="https://github.com/aarongarciah/parcel-static-boilerplate" target="_blank" rel="noopener">source code</a>.
  </p>
</footer>
