{% extends "html/templates/default.njk" %}

{% block documentTitle %}About{% endblock %}

{% block content %}
  This is the about page. Extends the default template just tlike the index but provides another <em>documentTitle</em> and <em>content</em>.
{% endblock %}
