{% extends "html/templates/default.njk" %}

{% block documentTitle %}Home{% endblock %}

{% block content %}
  <p>Parcel Static Boilerplate let's you start coding in a few minutes thanks to the magic of Parcel.</p>
  <br />
  <p>👇 This is an example on using Nunjucks to iterate over an array of data from the file <code>/data/data.json</code>. These people doesn't exist.</p>

  {% include "html/partials/_speakers.njk" %}
{% endblock %}
