@import 'node_modules/sass-mq/mq';
@import 'node_modules/modern-normalize/modern-normalize';
@import 'breakpoints';

body {
  font-size: 1rem;
  color: #333;

  @include mq($from: tablet) {
    font-size: 1.2rem;
  }
}

code {
  background-color: #eee;
}

header {
  padding: 1rem 2rem;
  background-color: #ddd;
}

main {
  padding: 2rem;
}

footer {
  padding: 1rem 2rem;
  background-color: #ddd;

  p {
    margin: 0;
  }
}
